.input {
  flex: 1;
  min-width: 0;
  align-self: stretch;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  font: var(--field-font-size) var(--font-family);
  color: var(--field-text-color);
  outline: none;
  -webkit-tap-highlight-color: transparent;

  &::placeholder {
    color: var(--text-color-placeholder);
  }

  &[data-disabled] {
    color: var(--text-color-disabled);
    &::placeholder {
      color: var(--text-color-disabled);
    }
  }
}
