.comboBox {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  width: calc(var(--spacing) * 50);

  .comboboxField {
    display: flex;
    align-items: center;
    height: var(--spacing-8);
    width: 100%;
  }

  :global(.react-aria-Input) {
    width: 100%;
    padding: 0 calc(var(--spacing-3) + var(--spacing-6)) 0 var(--spacing-3);
  }

  :global(.react-aria-ComboBoxValue) {
    margin-top: var(--spacing-1);
    font: var(--font-size-sm) var(--font-family);
    color: var(--text-color);
  }
}

.comboboxPopover[data-trigger="ComboBox"] {
  width: var(--trigger-width);
  padding: 0;
}
