.toggleButtonGroup {
  display: flex;

  > :global(.react-aria-ToggleButton) {
    z-index: 1;

    > span {
      transition: scale 200ms;
    }

    &[data-pressed] {
      scale: 1;

      > span {
        scale: 0.9;
      }
    }

    &[data-disabled] {
      z-index: 0;
      cursor: default;
    }

    &[data-selected],
    &[data-focus-visible] {
      z-index: 2;
    }
  }
}

.toggleButtonGroup[data-orientation="horizontal"] {
  flex-direction: row;

  > :global(.react-aria-ToggleButton) {
    margin-inline-start: -1px;
    border-radius: 0;

    &:first-child {
      border-radius: var(--radius) 0 0 var(--radius);
      margin-inline-start: 0;
    }

    &:last-child {
      border-radius: 0 var(--radius) var(--radius) 0;
    }
  }
}

.toggleButtonGroup[data-orientation="vertical"] {
  flex-direction: column;
  width: fit-content;

  > :global(.react-aria-ToggleButton) {
    margin-block-start: -1px;
    border-radius: 0;

    &:first-child {
      border-radius: var(--radius) var(--radius) 0 0;
      margin-block-start: 0;
    }

    &:last-child {
      border-radius: 0 0 var(--radius) var(--radius);
    }
  }
}

.toggleButtonGroup[data-size="md"] > :global(.react-aria-ToggleButton) {
  font-size: var(--font-size);
  height: var(--spacing-9); /* 36px */
  padding: 0 var(--spacing-3);

  > span > svg {
    width: var(--spacing-4); /* 16px */
    height: var(--spacing-4);
  }
}

.toggleButtonGroup[data-size="sm"] > :global(.react-aria-ToggleButton) {
  font-size: var(--font-size-sm);
  height: calc(var(--spacing) * 7); /* 28px */
  padding: 0 var(--spacing-2);

  > span > svg {
    width: var(--spacing-3); /* 12px */
    height: var(--spacing-3);
  }
}

.toggleButtonGroup[data-size="lg"] > :global(.react-aria-ToggleButton) {
  font-size: var(--font-size-lg);
  height: calc(var(--spacing-10) + var(--spacing-2)); /* 48px */
  padding: 0 var(--spacing-4);

  > span > svg {
    width: var(--spacing-4); /* 16px */
    height: var(--spacing-4);
  }
}

.toggleButtonGroup[data-size="md"]
  > :global(.react-aria-ToggleButton)[data-icon-only] {
  width: var(--spacing-9); /* 36px */
  padding: 0;
}

.toggleButtonGroup[data-size="sm"]
  > :global(.react-aria-ToggleButton)[data-icon-only] {
  width: calc(var(--spacing) * 7); /* 28px */
  padding: 0;
}

.toggleButtonGroup[data-size="lg"]
  > :global(.react-aria-ToggleButton)[data-icon-only] {
  width: calc(var(--spacing-10) + var(--spacing-2)); /* 48px */
  padding: 0;
}

.toggleButtonGroup[data-size="sm"][data-orientation="horizontal"]
  > :global(.react-aria-ToggleButton) {
  &:first-child {
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
  }

  &:last-child {
    border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
  }
}

.toggleButtonGroup[data-size="sm"][data-orientation="vertical"]
  > :global(.react-aria-ToggleButton) {
  &:first-child {
    border-radius: var(--radius-sm) var(--radius-sm) 0 0;
  }

  &:last-child {
    border-radius: 0 0 var(--radius-sm) var(--radius-sm);
  }
}
