.tagGroup {
  display: flex;
  flex-direction: column;
  font: var(--font-size) var(--font-family);
  color: var(--text-color);

  [slot="errorMessage"] {
    margin-top: var(--spacing);
    font-size: var(--font-size-sm);
    color: var(--invalid-color);
  }
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-2);
}
