.creditCardNumber input {
  font-variant-numeric: tabular-nums;
}

.brand {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: calc(var(--field-inner-height) * 1.56);
  height: var(--field-inner-height);
}

.brandLogo {
  width: 100%;
  height: 100%;
  border-radius: calc(var(--field-inner-height) / 12);
  forced-color-adjust: none;
}

.brandIcon {
  width: var(--field-icon-size);
  height: var(--field-icon-size);
  color: var(--text-color-placeholder);
}

.creditCardNumber [data-disabled] .brand {
  .brandLogo {
    filter: grayscale(1);
    opacity: 0.6;
  }

  .brandIcon {
    color: var(--text-color-disabled);
  }
}
